[submodule "pkgs/utf8"]
        path = pkgs/utf8
        url = https://github.com/sheredom/utf8.h
[submodule "pkgs/jsmn"]
        path = pkgs/jsmn
        url = https://github.com/zserge/jsmn
[submodule "externals/dumphfdl"]
	path = externals/dumphfdl
	url = https://github.com/RaspSDR/dumphfdl
