/* CW_skimmer.css */

.cl-cws-freq
{
    width: 6%;
    font-size: 14px;
}

.cl-cws-wpm
{
    width: 5%;
    font-size: 14px;
}

.cl-cws-text
{
    font-size: 14px;
}

.cl-cws-data
{
    text-align: left;
    padding-left: 8px;
}